.generator-section {
  padding: 140px 0;
  background-color: #f0b0e0;
  height: 480px;
}

.generator-row {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  flex: 1;
}

.btn-wrapper {
  max-width: 540px;
  display: flex;
  justify-content: center;
}

.idea-wrapper {
  height: 140px;
}

.top-line {
  color: #f12e90;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  max-width: 540px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  color: #f12e90;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
